<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>des</key>
	<string>黑色边框黑色文字圆角 初始字体14 </string>
	<key>layer</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGubpYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QLwcIKSorMjo9PkhNTgdPVFhddHZ3B3h6iYoYi4yNFmOODBCPkJOYnKGys7S1
	thW3VSRudWxs3xAQCQoLDA0ODxAREhMUFRYXGBkaGxsdGR8gISIbJCUmJyhdbWFza3NU
	b0JvdW5kc1tib3JkZXJDb2xvcl8QGm5lZWRzRGlzcGxheU9uQm91bmRzQ2hhbmdlVm9w
	YXF1ZV8QD2JhY2tncm91bmRDb2xvcl8QEmFsbG93c0dyb3VwT3BhY2l0eV5jb250ZW50
	c0Zvcm1hdFhwb3NpdGlvbl8QEl9fQ0FDb2RpbmdDb250ZW50c1YkY2xhc3NfEBZhbGxv
	d3NFZGdlQW50aWFsaWFzaW5nW2JvcmRlcldpZHRoWXN1YmxheWVyc1hkZWxlZ2F0ZVxj
	b3JuZXJSYWRpdXNWYm91bmRzgAOABoACgAKABIADgAqADYAngC6AAoAHgA6ADIALgAgI
	CdUsLS4vEjAwMDAxUXJRYlFnUWEiAAAAAIAF0jM0NTZaJGNsYXNzbmFtZVgkY2xhc3Nl
	c18QFExLQ0dDb2xvckNvZGluZ1Byb3h5ozc4OV8QFExLQ0dDb2xvckNvZGluZ1Byb3h5
	XUNBQ29kaW5nUHJveHlYTlNPYmplY3TVLC0uLxIwMDA7MSI/gAAAgAUjP/AAAAAAAADW
	PxJAQUJDMERFMEZHUXlUa2luZFF4VXdpZHRoVmhlaWdodIAJEAIiQqqqqyJB7u7v0jM0
	SUpfEBRMS05TVmFsdWVDb2RpbmdQcm94eaNLTDlfEBRMS05TVmFsdWVDb2RpbmdQcm94
	eV1DQUNvZGluZ1Byb3h5VVJHQkE4I0AQAAAAAAAA1D9AQRJQUVJEIkFu7u8QACJCKqqr
	gAnSVRJWV1VhcnJheYAPgCbSWRJaXFpOUy5vYmplY3RzoVuAEIAl3l5fDBBgYRESYmMW
	ZBhlGxkbaWofbG0bGXBqcnNfEBpuZWVkc0Rpc3BsYXlPbkJvdW5kc0NoYW5nZV8QEmFs
	bG93c0dyb3VwT3BhY2l0eV8QEnJhc3Rlcml6YXRpb25TY2FsZV5jb250ZW50c0Zvcm1h
	dF8QFmFsbG93c0VkZ2VBbnRpYWxpYXNpbmdWaGlkZGVuXWNvbnRlbnRzU2NhbGVfEA9j
	b250ZW50c0dyYXZpdHmAAoADgAKAFYATgAqAFoAkgAKAA4AUgBOAEYAS1j8SQEFCQzBE
	RTAwMIAJVnJlc2l6ZSNAAAAAAAAAANQ/QEESMFEwRIAJ0lkSe4isfH1+f4CBgoOEhYaH
	gBeAGIAZgBqAG4AcgB2AHoAfgCCAIYAigCNfEBZhbGxvd3NFZGdlQW50aWFsaWFzaW5n
	XxASYWxsb3dzR3JvdXBPcGFjaXR5XmNvbnRlbnRzRm9ybWF0XxAPY29udGVudHNHcmF2
	aXR5XWNvbnRlbnRzU2NhbGVfEBpuZWVkc0Rpc3BsYXlPbkJvdW5kc0NoYW5nZV8QEnJh
	c3Rlcml6YXRpb25TY2FsZdIzNJGSV05TQXJyYXmikTnSMzSUlV1fVUlMYWJlbExheWVy
	o5aXOV1fVUlMYWJlbExheWVyV0NBTGF5ZXLSMzSZml5OU011dGFibGVBcnJheaObkTle
	TlNNdXRhYmxlQXJyYXnSMzSdnl8QFExLTlNBcnJheUNvZGluZ1Byb3h5o5+gOV8QFExL
	TlNBcnJheUNvZGluZ1Byb3h5XUNBQ29kaW5nUHJveHnSWRKiiK58faWmp35/qoKshIWG
	sIAXgBiAKIApgCqAGYAagCuAHYAsgB+AIIAhgC2AI18QD2JhY2tncm91bmRDb2xvclti
	b3JkZXJDb2xvcltib3JkZXJXaWR0aFxjb3JuZXJSYWRpdXNdbWFza3NUb0JvdW5kc9Iz
	NJe4opc5XxAPTlNLZXllZEFyY2hpdmVy0bu8VHJvb3SAAQAIABEAGgAjAC0AMgA3AGkA
	bwCSAKAArADJANAA4gD3AQYBDwEkASsBRAFQAVoBYwFwAXcBeQF7AX0BfwGBAYMBhQGH
	AYkBiwGNAY8BkQGTAZUBlwGYAZkBpAGmAagBqgGsAbEBswG4AcMBzAHjAecB/gIMAhUC
	IAIlAicCMAI9Aj8CRAJGAkwCUwJVAlcCXAJhAmYCfQKBApgCpgKsArUCvgLDAsUCygLM
	AtEC1wLZAtsC4ALrAu0C7wLxAw4DKwNAA1UDZAN9A4QDkgOkA6YDqAOqA6wDrgOwA7ID
	tAO2A7gDugO8A74DwAPNA88D1gPfA+gD6gPvA/wD/gQABAIEBAQGBAgECgQMBA4EEAQS
	BBQEFgQvBEQEUwRlBHMEkASlBKoEsgS1BLoEyATMBNoE4gTnBPYE+gUJBQ4FJQUpBUAF
	TgVTBWIFZAVmBWgFagVsBW4FcAVyBXQFdgV4BXoFfAV+BYAFkgWeBaoFtwXFBcoFzQXf
	BeIF5wAAAAAAAAIBAAAAAAAAAL0AAAAAAAAAAAAAAAAAAAXp
	</data>
	<key>model</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGjI1YJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGQcIISIjMDE6HkJISVNXXGtscHh5ent8gIVVJG51bGzcCQoLDA0ODxAREhMU
	FRUXFRkVGxwdHh8VXlVJRGVlcERyYXdSZWN0XxAPVUlDbGlwc1RvQm91bmRzVlVJRm9u
	dF8QGlVJQWRqdXN0c0ltYWdlV2hlbkRpc2FibGVkWFVJQ2VudGVyXxAUVUlBdXRvcmVz
	aXplU3Vidmlld3NfEBFVSUJhY2tncm91bmRDb2xvclhVSUJvdW5kc1YkY2xhc3NfEB5V
	SVZpZXdTZW1hbnRpY0NvbnRlbnRBdHRyaWJ1dGVfEBdVSUJ1dHRvblN0YXRlZnVsQ29u
	dGVudF8QHVVJQWRqdXN0c0ltYWdlV2hlbkhpZ2hsaWdodGVkCQmADgmAAwmABIACgBgQ
	AIAHCV8QMnt7MCwgMH0sIHs4NS4zMzMzMzU4NzY0NjQ4NDQsIDI5Ljg2NjY2Njc5Mzgy
	MzI0Mn19XxAoezQyLjY2NjY2NzkzODIzMjQyMiwgMTQuOTMzMzMzMzk2OTExNjIxfdck
	JSYRJygpKisrLC0uL18QFVVJQ29sb3JDb21wb25lbnRDb3VudFdVSVdoaXRlV1VJQWxw
	aGFfEBFVSVN5c3RlbUNvbG9yTmFtZVdOU1doaXRlXE5TQ29sb3JTcGFjZRACIgAAAACA
	BoAFQzAgMBAEWmNsZWFyQ29sb3LTMjM0NTY4WiRjbGFzc25hbWVYJGNsYXNzZXNbJGNs
	YXNzaGludHNXVUlDb2xvcqI1N1hOU09iamVjdKE5V05TQ29sb3LTOzwRPT9BV05TLmtl
	eXNaTlMub2JqZWN0c6E+gAihQIAJgA3TQ0QRRUZHV1VJVGl0bGVcVUlUaXRsZUNvbG9y
	gAqAC4AMV25vcm1hbDHYJEpLJkwRTSlOKytPUCwrUldVSUdyZWVuVlVJQmx1ZVVOU1JH
	QlVVSVJlZBAEIj+AAABFMCAwIDCABhAC0jIzVFVfEA9VSUJ1dHRvbkNvbnRlbnSiVjdf
	EA9VSUJ1dHRvbkNvbnRlbnTSMjNYWV8QE05TTXV0YWJsZURpY3Rpb25hcnmjWls3XxAT
	TlNNdXRhYmxlRGljdGlvbmFyeVxOU0RpY3Rpb25hcnnYXV5fEWBhYmNkZWZnHhVpZVZO
	U1NpemVWTlNOYW1lXxAQVUlGb250RGVzY3JpcHRvclxVSUZvbnRUcmFpdHNcVUlTeXN0
	ZW1Gb250XxAPVUlGb250UG9pbnRTaXplWlVJRm9udE5hbWUjQCrToIAAAACAD4AQgBcJ
	I0Aq06CAAAAAgA9ZLlNGVUlUZXh00hFtbm9fEBpVSUZvbnREZXNjcmlwdG9yQXR0cmli
	dXRlc4AWgBHTOzwRcXRBonJzgBKAE6J1doAUgBWADV8QGE5TQ1RGb250VUlVc2FnZUF0
	dHJpYnV0ZV8QE05TRm9udFNpemVBdHRyaWJ1dGVfEBJDVEZvbnRSZWd1bGFyVXNhZ2Uj
	QCrToIAAAADSMjN9fl8QEFVJRm9udERlc2NyaXB0b3KifzdfEBBVSUZvbnREZXNjcmlw
	dG9y0zIzNIGCg1ZVSUZvbnSigTehhFZOU0ZvbnTSMjOGh1lDQ19CdXR0b26mhoiJios3
	WFVJQnV0dG9uWVVJQ29udHJvbFZVSVZpZXdbVUlSZXNwb25kZXJfEA9OU0tleWVkQXJj
	aGl2ZXLRjo9Ucm9vdIABAAgAEQAaACMALQAyADcAUwBZAHIAgQCTAJoAtwDAANcA6wD0
	APsBHAE2AVYBVwFYAVoBWwFdAV4BYAFiAWQBZgFoAWkBngHJAdgB8AH4AgACFAIcAikC
	KwIwAjICNAI4AjoCRQJMAlcCYAJsAnQCdwKAAoICigKRApkCpAKmAqgCqgKsAq4CtQK9
	AsoCzALOAtAC2ALpAvEC+AL+AwQDBgMLAxEDEwMVAxoDLAMvA0EDRgNcA2ADdgODA5QD
	mwOiA7UDwgPPA+ED7AP1A/cD+QP7A/wEBQQHBBEEFgQzBDUENwQ+BEEEQwRFBEgESgRM
	BE4EaQR/BJQEnQSiBLUEuATLBNIE2QTcBN4E5QTqBPQE+wUEBQ4FFQUhBTMFNgU7AAAA
	AAAAAgEAAAAAAAAAkAAAAAAAAAAAAAAAAAAABT0=
	</data>
	<key>name</key>
	<string>normal1</string>
</dict>
</plist>
