<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>des</key>
	<string>黑色无边框黑色文字圆角 初始字体14 </string>
	<key>model</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGiotYJHZlcnNpb25YJG9iamVjdHNZJGFyY2hpdmVyVCR0b3AS
	AAGGoK8QGQcIHyAhLi84HEBGR1FVWmlqbnZ3eHl6foNVJG51bGzbCQoLDA0ODxAREhMU
	FRQXGBQUGxwdHl8QHVVJQWRqdXN0c0ltYWdlV2hlbkhpZ2hsaWdodGVkXxAXVUlCdXR0
	b25TdGF0ZWZ1bENvbnRlbnReVUlEZWVwRHJhd1JlY3RfEBFVSUJhY2tncm91bmRDb2xv
	clhVSUJvdW5kc18QFFVJQXV0b3Jlc2l6ZVN1YnZpZXdzXxAaVUlBZGp1c3RzSW1hZ2VX
	aGVuRGlzYWJsZWRWVUlGb250XxAeVUlWaWV3U2VtYW50aWNDb250ZW50QXR0cmlidXRl
	ViRjbGFzc1hVSUNlbnRlcgmABwmABIACCQmADhAAgBiAA18QMnt7MCwgMH0sIHs4NS4z
	MzMzMzU4NzY0NjQ4NDQsIDI5Ljg2NjY2Njc5MzgyMzI0Mn19XxAoezQyLjY2NjY2Nzkz
	ODIzMjQyMiwgMTQuOTMzMzMzMzk2OTExNjIxfdciIyQSJSYnKCkpKissLV8QFVVJQ29s
	b3JDb21wb25lbnRDb3VudFdVSVdoaXRlV1VJQWxwaGFfEBFVSVN5c3RlbUNvbG9yTmFt
	ZVdOU1doaXRlXE5TQ29sb3JTcGFjZRACIgAAAACABoAFQzAgMBAEWmNsZWFyQ29sb3LT
	MDEyMzQ2WiRjbGFzc25hbWVYJGNsYXNzZXNbJGNsYXNzaGludHNXVUlDb2xvcqIzNVhO
	U09iamVjdKE3V05TQ29sb3LTOToSOz0/V05TLmtleXNaTlMub2JqZWN0c6E8gAihPoAJ
	gA3TQUISQ0RFV1VJVGl0bGVcVUlUaXRsZUNvbG9ygAqAC4AMV25vcm1hbDLYIkhJJEoS
	SydMKSlNTiopUFdVSUdyZWVuVlVJQmx1ZVVOU1JHQlVVSVJlZBAEIj+AAABFMCAwIDCA
	BhAC0jAxUlNfEA9VSUJ1dHRvbkNvbnRlbnSiVDVfEA9VSUJ1dHRvbkNvbnRlbnTSMDFW
	V18QE05TTXV0YWJsZURpY3Rpb25hcnmjWFk1XxATTlNNdXRhYmxlRGljdGlvbmFyeVxO
	U0RpY3Rpb25hcnnYW1xdEl5fYGFiY2RlHBRnY1ZOU1NpemVWTlNOYW1lXxAQVUlGb250
	RGVzY3JpcHRvclxVSUZvbnRUcmFpdHNcVUlTeXN0ZW1Gb250XxAPVUlGb250UG9pbnRT
	aXplWlVJRm9udE5hbWUjQCrToIAAAACAD4AQgBcJI0Aq06CAAAAAgA9ZLlNGVUlUZXh0
	0hJrbG1fEBpVSUZvbnREZXNjcmlwdG9yQXR0cmlidXRlc4AWgBHTOToSb3I/onBxgBKA
	E6JzdIAUgBWADV8QGE5TQ1RGb250VUlVc2FnZUF0dHJpYnV0ZV8QE05TRm9udFNpemVB
	dHRyaWJ1dGVfEBJDVEZvbnRSZWd1bGFyVXNhZ2UjQCrToIAAAADSMDF7fF8QEFVJRm9u
	dERlc2NyaXB0b3KifTVfEBBVSUZvbnREZXNjcmlwdG9y0zAxMn+AgVZVSUZvbnSifzWh
	glZOU0ZvbnTSMDGEhVlDQ19CdXR0b26mhIaHiIk1WFVJQnV0dG9uWVVJQ29udHJvbFZV
	SVZpZXdbVUlSZXNwb25kZXJfEA9OU0tleWVkQXJjaGl2ZXLRjI1Ucm9vdIABAAgAEQAa
	ACMALQAyADcAUwBZAHAAkACqALkAzQDWAO0BCgERATIBOQFCAUMBRQFGAUgBSgFLAUwB
	TgFQAVIBVAGJAbQBwwHbAeMB6wH/AgcCFAIWAhsCHQIfAiMCJQIwAjcCQgJLAlcCXwJi
	AmsCbQJ1AnwChAKPApECkwKVApcCmQKgAqgCtQK3ArkCuwLDAtQC3ALjAukC7wLxAvYC
	/AL+AwADBQMXAxoDLAMxA0cDSwNhA24DfwOGA40DoAOtA7oDzAPXA+AD4gPkA+YD5wPw
	A/ID/AQBBB4EIAQiBCkELAQuBDAEMwQ1BDcEOQRUBGoEfwSIBI0EoASjBLYEvQTEBMcE
	yQTQBNUE3wTmBO8E+QUABQwFHgUhBSYAAAAAAAACAQAAAAAAAACOAAAAAAAAAAAAAAAA
	AAAFKA==
	</data>
	<key>name</key>
	<string>normal2</string>
</dict>
</plist>
