<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bench_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18B6BCF71F1F09CA0019391D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B6BD101F1F09CA0019391D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18B6BD1B1F1F09CA0019391D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
