<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>title</key>
			<string>字体大小</string>
			<key>className</key>
			<string>TestFontVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>图片加载</string>
			<key>className</key>
			<string>Test_LibWebImageController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>app主字体和主颜色</string>
			<key>className</key>
			<string>testCommomVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>网络请求</string>
			<key>className</key>
			<string>TestNetwork</string>
		</dict>
		<dict>
			<key>title</key>
			<string>多线程</string>
			<key>className</key>
			<string>TestThread</string>
		</dict>
		<dict>
			<key>title</key>
			<string>ViewController</string>
			<key>className</key>
			<string>TestViewController1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>打开广告</string>
			<key>className</key>
			<string>TestWebViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Test_LibViewController</string>
			<key>className</key>
			<string>Test_LibViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Test_FunctionViewController</string>
			<key>className</key>
			<string>Test_FunctionViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Test_FundationViewController</string>
			<key>className</key>
			<string>Test_FundationViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>Test_LibUIViewController</string>
			<key>className</key>
			<string>Test_LibUIViewController</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TestCoreFoundation</string>
			<key>className</key>
			<string>TestCoreFoundation</string>
		</dict>
		<dict>
			<key>title</key>
			<string>手动屏幕旋转</string>
			<key>className</key>
			<string>TestOritationVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>视频播放</string>
			<key>className</key>
			<string>TestVideoVC</string>
		</dict>
		<dict>
			<key>title</key>
			<string>TestPresentVC</string>
			<key>className</key>
			<string>TestPresentVC</string>
		</dict>
	</array>
</dict>
</plist>
